.column-layout-2 {
    display: flex;
    justify-content: space-between;
    & > * {
        flex-basis: 48.5%;
    }
    @include media-small {
        gap: 10px;
    }
    @include media-mobile {
        flex-direction: column;
    }
}