.logo {
  position: relative;
  font-family: 'Pacifico', cursive;
  font-size: 3.5rem;
  cursor: pointer;
  @include media-tablet {
    font-size: 3rem;
  }
  @include media-mobile {
    font-size: 2.5rem;
  }
  @include media-mobile-mini {
    font-size: 1.8rem;
  }
  &::after {
    content: ' ';
    display: inline-block;
    background-image: url('/src/assets/icons/bird.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 31px;
    right: -20px;
    width: 37px;
    height: 34px;
    @include media-tablet {
      background-size: 80%;
      bottom: 22px;
      right: -23px;
    }
    @include media-mobile {
      background-size: 70%;
      bottom: 13px;
      right: -25px;
    }
    @include media-mobile-mini {
      background-size: 55%;
      bottom: 2px;
      right: -28px;
    }
  }

}