html {
  font-size: 10px;
  color: $text-color;
}

.page {
  background: $background-color;
  font-family: 'Roboto', sans-serif;
}

.main-title {
  padding: 35px 0;
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  background-image: url(/src/assets/images/main-bg.jpg);
  background-size: 250px;
  background-repeat: repeat;
  background-position-y: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}