html {
  font-size: 10px;
  color: $text-color;
}

.page {
  background: $background-color;
  font-family: 'Roboto', sans-serif;
}

.main-title {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
}